* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 15px;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 25px;
  max-width: 350px;
  margin: auto;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  color: #fff;
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.input-box {
  margin-bottom: 15px;
  text-align: right;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #00c9a7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00a98f;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}